@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.mappage > h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: rgb(15, 15, 139);
}

.mappage > h5 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: rgb(87, 8, 8)

}

.map-view{
    padding: 30px;
    margin-left: 25px;
    margin-right: 25px;
}