.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:lemonchiffon;
    z-index: 100;
    width: 100%;
}

.header-icon{
    object-fit: contain;
    height: 75px;
    border-radius: 50%;
    margin-left: 20px
}





.header-right{
    display: inline-flex;
    align-items: right;
    justify-content:space-evenly;
    justify-items: space-between;
    width: 30vw;
    color: black;
    margin-right: 80px;
    padding: 20px;
}

.header-right  > a {
    color: black
}

.header-right > a:hover{
    color:red
}