

.mapbox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}


.indexcard {
    width: 100px;
    height: 186px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.indexcard > label {
    color: tomato;
    font-size: 13px;
    border-bottom: 1px solid tomato;
    
}

.place {
    font-size: 13px;
}

.rating {
    font-size:25px;
    font-weight: 35;
}



.carddisplay {
    width: 25vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-items: right;
    

}