.searchResult {
  background-color: lightgoldenrodyellow;
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  opacity: 20;
  cursor: pointer;
}

.searchResult hover {
  opacity: 0.8;
}

.searchResult > img {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.searchResult-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.searchResult-heart {
  position: absolute;
  top: 20px;
  right: 40px;
}

.searchResult-infoTop {
  width: 40vw;
}

.searchResult-infoTop > h4 {
  font-weight: 500;
  margin-top: 10px;
  font-size: 30px;
  color: rgb(114, 66, 11);
}

.searchResult-infoTop > h3 {
  font-weight: 500;
  margin-top: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.searchResult-infoTop >p {
  margin-top: 10px;
  font-size: 20px;
  color: gray;
}

.searchResult-infoBottom {
  display: flex;
  justify-content: space-between;
}

.searchResult-star {
  color: blue;
}

.searchResult-stars {
  display: flex;
  align-items: center;
}

.searchResults-price > p {
  text-align: right;
  position:absolute;
}

.searchResult-price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.searchResult-price > h2 {
  font-size: 30px;
  font-weight: 200;
  display: flex;
}
